.input-box input {
  width: calc(100% - 40px); /* Ajustar el ancho considerando el padding */
  height: 50px;
  background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  outline: none;
}

.input-box input::placeholder {
  color: #ccc;
}

/* Estilos para el botón */
.wrapper .button {
  width: calc(100% - 40px);
  height: 50px;
  background: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #00011f;
  margin-top: 20px;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.wrapper .button:hover {
  background: #000bb0;
  color: #fff;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
}

/* Estilos para el enlace de registro */
.register-link {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

/* Estilos para el mensaje de error */
.error-message {
  color: #ff6347;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos generales del cuerpo */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #006595, #20d0ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}